.content {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center !important;
  
}

.allproducts{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex:1;
    display: flex;
    gap: 20px;
   
}
@media (max-width: 1023.98px) {
    .allproducts{
        max-width:100% ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex:1;
        text-align: center;
        padding: 20px 0px;
        gap: 0px;

        >h1{
            font-size: small;
        }
        

    }

}
